<?xml version="1.0" encoding="UTF-8"?>

<engineers>
    <engineer type="development" class="com.pattern.create.factory.DevelopmentEngineer"></engineer>
    <engineer type="test" class="com.pattern.create.factory.TestEngineer"></engineer>
    <engineer type="security" class="com.pattern.create.factory.SecurityEngineer"></engineer>
    <!--
        <engineer type="security" class="com.pattern.create.factory.SecurityEngineer"></engineer>
        <engineer type="security" class="com.pattern.create.factory.SecurityEngineer"></engineer>
        <engineer type="security" class="com.pattern.create.factory.SecurityEngineer"></engineer>
    -->
</engineers>